$bg-color: #AB2930;
$card-border: solid 8px #F7E09D;
$button-color: #393435;
$header-color: #F1F1F5;
$list-color: #F1F1F5;

body {
  background-color: $bg-color;
  text-align: center;
  margin: 0;

  header {
    height: 6em;
    background-color: $header-color;
    & h1 {
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
    }
  }
  main {
    & .button {
      margin-top: 5%;
      padding: 20px 10px;
      width: 20%;
      border: none;
      border-radius: 5px;
      background-color: $button-color;
      color: white;
      font-size: large;
      &:hover {
        transform: scale(1.05, 1.05);
      }
    }

    & p {
      margin: 5% 20%;
      padding: 30px 0px;
      border: $card-border;
      background-color: $list-color;
      font-size: 30px;
      // font-weight: bold;
      font-family: Arial;
    }

    & ul {
      margin: 0 auto;
      padding: 20px 0px;
      list-style-type: none;
      & li {
        border: $card_border;
        font-size: large;
        font-family: Arial;
        background-color: $list-color;
      }
    }
  }
}
