.button {
    padding: 20px 10px;
    display: inline-block;
    width: 20%;
    border: none;
    border-radius: 5px;
    background-color: #0C6DFD;
    color: white;
    font-size: large;
    &:hover {
      transform: scale(1.05, 1.05);
    }
  }
  
  body {
    text-align: center;
    background-color: rgb(195, 240, 237);
    & ul {
        list-style-type: none;
    }
  }